body {
    width: 100%;
    background: url("../images/bg_ad5bce5.webp") no-repeat center bottom;

}

/*1*/
/*topbar*/
html, body {
    min-width: 1280px;
    /*background: #fbfbfb;*/
}

.top-bar {
    height: 55px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.top-bar .company-logo {
    float: left;
    width: 133px;
    height: 44px;
    margin-top: 5px;
}

.top-bar .top-bar-layer {
    width: 420px;
    height: 54px;
    padding-left: 12px;
    float: left;
}

.top-bar .top-bar-layer .hidden {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    width: 960px;
    height: 250px;
    z-index: 2;
}

.top-bar .top-bar-layer:hover .show {
    display: none;
}

.top-bar .top-bar-layer:hover .hidden {
    display: block;
}

.top-bar .top-info {
    float: left;
    margin-left: 55px;
}

.top-bar .top-info span {
    display: block;
    float: left;
    width: 48px;
    height: 52px;
    line-height: 52px;
    padding: 0 12px;
    margin-left: 3px;
}

.top-bar .top-info span a {
    color: #333;
}

.top-bar .top-info span:hover {
    background: #f3f3f3;
    border-bottom: #bc2e2e 3px solid;
}

.top-bar .top-info span:hover a {
    color: #bc2e2e;
}

.top-bar .top-catalog {
    width: 108px;
    height: 24px;
    line-height: 24px;
    padding: 14px 0 12px 15px;
    float: left;
    color: #bc2e2e;
}

.top-bar .top-catalog em {
    overflow: hidden;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    vertical-align: middle;
    margin-bottom: 2px;
}

.top-bar .top-catalog i {
    background: url("../images/sprite-1.png") no-repeat -103px -101px;
    width: 9px;
    height: 4px;
    display: block;
    margin: 6px 4px;
}

.top-bar .top-catalog:hover {
    background: #f3f3f3;
    border-bottom: #bc2e2e 3px solid;

}

.top-bar .top-catalog:hover .top-catalog-layer {
    display: block;
}

.top-bar .top-catalog .top-catalog-layer {
    display: none;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    height: 474px;
    border-top: #ececec 1px solid;
    background: #fdfefe;
    opacity: .95;
    z-index: 5;
}

.top-bar .top-catalog .top-catalog-layer .tittle {
    height: 39px;
    line-height: 39px;
    color: #bc2e2e;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.top-bar .top-catalog .top-catalog-layer .tittle .catalog01 {
    width: 100px;
    float: left;
    margin-left: 23px;
}

.top-bar .top-catalog .top-catalog-layer .tittle .catalog02 {
    float: left;
    width: 100px;
    margin-left: 184px;
}

.top-bar .top-catalog .top-catalog-layer .tittle .catalog03 {
    float: left;
    width: 100px;
    margin-left: 454px;
}

.top-bar .top-catalog .top-catalog-layer dl {
    float: left;
    width: 119px;
    padding-left: 23px;
}

.top-bar .top-catalog .top-catalog-layer dt {
    height: 33px;
    line-height: 33px;
}

.top-bar .top-catalog .top-catalog-layer dd a {
    color: #626262;
}

.top-bar .top-catalog .top-catalog-layer .game-assist dl {
    margin-left: -14px;
    margin-top: 5px;
}

.top-bar .top-catalog .top-catalog-layer dd a:hover {
    color: #bc2e2e;
}

.top-bar .top-transition span {
    display: block;
    float: right;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-bar .top-transition span:hover {
    background: #f3f3f3;
    border-bottom: #bc2e2e 3px solid;
}

.top-bar .top-transition span a {
    color: #333;
}

.top-bar .top-transition span:hover a {
    color: #bc2e2e;
}

/*nav*/
.nav {
    width: 100%;
    height: 110px;
    background: url("../images/nav-bg.webp") no-repeat center;

}

.nav .nav-inner {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.nav .nav-inner .logo {
    width: 200px;
    height: 79px;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
}

.nav .nav-inner .nav-tab {
    float: left;
    overflow: hidden;
}

.nav .nav-inner .nav-tab a {
    float: left;
    font-size: 16px;
    padding: 0 16px;
    color: #fff;
    height: 110px;
    line-height: 110px;
}

.nav .nav-inner .nav-tab i {
    width: 1px;
    height: 23px;
    background: #a38f79;
    vertical-align: middle;
    float: left;
    margin-top: 44px;
}

.nav .nav-inner .nav-tab a:hover {
    background: url("../images/nav-bg-hidden.webp") no-repeat;
}

.nav .nav-inner .mobile {
    padding-left: 24px;
    margin-right: 20px;
    float: left;
}

.nav .nav-inner .mobile:hover a i {
    background-position: -130px -685px;
}

.nav .nav-inner .mobile a {
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #fff;
    height: 110px;
    line-height: 110px;
    display: inline-block;
}

.nav .nav-inner .mobile a i {
    display: inline-block;
    background: url("../images/sprite-2.png") no-repeat -173px -685px;
    width: 33px;
    height: 33px;
    margin-right: 5px;
    vertical-align: middle;
}

.nav .nav-inner .search {
    float: right;
    height: 38px;
    border: #d0d0d0 1px solid;
    margin-top: 35px;
    background: #f3f3f3;;
}

.nav .nav-inner .search a:hover {
    background-position: -753px -600px;
}

.nav .nav-inner .search input {
    padding: 11px;
    font-size: 14px;
    border: none;
}

.nav .nav-inner .search a {
    background: url("../images/sprite-2.png") no-repeat -704px -600px;
    float: right;
    width: 38px;
    height: 38px;
    margin: 1px;

}

/*header*/
.header {
    height: 500px;
    width: 100%;
    background: url("../images/bg01.jpg") no-repeat center;
    background-size: auto;
    position: relative;
}

.header .left-arrow {
    width: 73px;
    height: 73px;
    background: url("../images/sprite-3.png") no-repeat 0 100%;
    position: absolute;
    left: 3%;
    top: 50%;
    opacity: .5;
}

.header .right-arrow {
    width: 73px;
    height: 73px;
    background: url("../images/sprite-3.png") no-repeat 100% 100%;
    position: absolute;
    right: 3%;
    top: 50%;
    opacity: .5;
}

.header .left-arrow:hover {
    background-position: 0 0;
}

.header .right-arrow:hover {
    background-position: 100% 0;
}

.header .header-inner {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.header .header-inner .entrance {
    position: absolute;
    background: url("../images/sprite-2.png") no-repeat 0 0;
    right: 0;
    bottom: 0;
    width: 204px;
    height: 156px;
    padding-left: 173px;
}

.header .header-inner .entrance .entrance-tab {
    position: absolute;
    width: 126px;
    height: 126px;
    right: 219px;
    bottom: 18px;
}

.header .header-inner .entrance .winner {
    position: absolute;
    right: 38px;
    bottom: 69px;
    color: #754a07;
}

.header .header-inner .entrance .spring {
    position: absolute;
    right: 50px;
    bottom: 43px;
    color: #754a07;
}

.header .header-inner .entrance .winner:hover {
    color: #c45330;
}

.header .header-inner .entrance .spring:hover {
    color: #c45330;
}

.header .header-inner .entrance i {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: -1px 10px;
    background: url("../images/sprite-2.png") no-repeat -365px -187px;
}

/*activity*/
.activity {
    height: 347px;
    width: 100%;
    background: url("../images/bg02.webp") no-repeat center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.activity .activity-inner {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.activity .activity-inner .download {
    height: 307px;
    width: 230px;
    margin-right: 20px;
    float: left;
}

.activity .activity-inner .download .pc {
    display: block;
    height: 96px;
    background: url("../images/sprite-2.png") no-repeat -387px -125px;
}

.activity .activity-inner .download .pc:hover {
    background-position: 0 -302px;
}

.activity .activity-inner .download .mobile {
    display: block;
    height: 96px;
    background: url("../images/sprite-2.png") no-repeat -240px -302px;
}

.activity .activity-inner .download .mobile:hover {
    background-position: 0 -408px;
}

.activity .activity-inner .download .account {
    height: 115px;
    overflow: hidden;
    background: url("../images/sprite-2.png") no-repeat -387px 0;
}

.activity .activity-inner .download .account a {
    display: inline-block;
    width: 115px;
    height: 55px;
    background: url("../images/sprite-2.png") no-repeat;
}

.activity .activity-inner .download .account .t-left {
    float: left;
    background-position: -240px -166px;
}

.activity .activity-inner .download .account .t-left:hover {
    background-position: -240px -231px;
}

.activity .activity-inner .download .account .t-right {
    float: right;
    background-position: -480px -302px;
}

.activity .activity-inner .download .account .t-right:hover {
    background-position: -494px -408px;
}

.activity .activity-inner .download .account .b-left {
    float: left;
    background-position: -627px -402px;
}

.activity .activity-inner .download .account .b-left:hover {
    background-position: -627px -472px;
}

.activity .activity-inner .download .account .b-right {
    float: right;
    background-position: -387px -231px;
}

.activity .activity-inner .download .account .b-right:hover {
    background-position: -627px -332px;
}

.activity .activity-inner .new-activity {
    height: 307px;
    width: 545px;
    float: left;
    position: relative;
}

.activity .activity-inner .new-activity .type {
    height: 57px;
    border-bottom: #d6d4d2 1px solid;
    background: #f9f7f4;
    text-align: center;
    line-height: 57px;
}

.activity .activity-inner .new-activity .type a {
    font-size: 16px;
    color: #212121;
    display: inline-block;
    vertical-align: middle;
    width: 179px;
    position: relative;
}

.activity .activity-inner .new-activity .type a:hover em {
    display: block;
}

.activity .activity-inner .new-activity .type a i {
    background: url("../images/sprite-2.png") no-repeat;
    width: 28px;
    height: 27px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.activity .activity-inner .new-activity .type a em {
    position: absolute;
    bottom: -1px;
    left: 77px;
    width: 66px;
    height: 3px;
    background: #c41e20;
    display: none;
}

.activity .activity-inner .new-activity .type .na-icon01 i {
    background-position: -376px -685px;
}

.activity .activity-inner .new-activity .type .na-icon02 i {
    background-position: -835px -542px;
}

.activity .activity-inner .new-activity .type .na-icon03 i {
    background-position: -515px -563px;
}

.activity .activity-inner .new-activity .na-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 58px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

.na-intro a {
    float: left;
    width: 69px;
    padding: 10px 20px;
    line-height: 20px;
    height: 38px;
    color: #f6efde;
    font-size: 15px;
}

.na-intro a:hover {
    background: url("../images/news-bg05.webp") no-repeat;
    opacity: 1;
}

.new-activity img {
    position: absolute;
    width: 545px;
    height: 249px;
    left: 0;
    bottom: 0;
}

.commend {
    width: 386px;
    height: 307px;
    background: #f8f4ee;
    float: right;
}

.commend .commend-nav {
    height: 57px;
    background-color: rgba(249, 247, 244, .8);
    border-bottom: 1px solid #d6d4d2;
    line-height: 57px;
    overflow: hidden;
}

.commend .commend-nav a {
    padding: 0 25px;
    color: #212121;
    font-size: 17px;
    float: left;
    height: 54px;
}

.commend .commend-nav a i {
    display: inline-block;
    width: 24px;
    height: 25px;
    margin-bottom: -6px;
    background: url("../images/sprite-2.png") no-repeat -481px -563px;
}

.commend .commend-nav a:hover {
    border-bottom: #c41e20 3px solid;
}

.commend .commend-cont ul {
    padding: 20px 21px;
}

.commend .commend-cont a .column {
    font-size: 15px;
    color: #403f3f;
    line-height: 30px;
    height: 30px;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.commend .commend-cont a .time {
    color: #868686;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
}

.commend .commend-cont li:hover .column {
    color: #c93231;
}

/*1*/

/*wx*/
a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

em {
    font-style: normal;
}

/*第一块*/
.xone {
    width: 100%;
    height: 572px;
    /*background: #c93231;*/
    background: rgb(198, 75, 53);
    overflow: hidden;
    margin-top: -40px;
}

.x-one {
    width: 1200px;
    height: 492px;
    padding: 40px 0;
    margin: 0 auto;
    overflow: hidden;
}

/*第一块左部分*/
.x-one-left {
    float: left;
    width: 230px;
    height: 492px;
    margin-right: 20px;
}

.x-one-left-up {
    width: 230px;
    height: 198px;
    background: url("../images/btn_bg_16eb5eb.webp");
}

.x-one-left-up img {
    display: block;
    width: 100%;
    height: 67px;
    margin: 0 auto;
}

.x-one-left-up li {
    width: 100%;
    height: 43px;
    margin: 0 auto;
    text-align: center;
}

.x-one-left-up li:hover .fl {
    color: goldenrod;
    border-top: 1px solid black;
}

.x-one-left-up li:hover {
    background: black;
}

.x-one-left-up li i {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -551px -563px;
    width: 24px;
    height: 22px;
    margin-right: 18px;
    vertical-align: middle;
}

.x-one-left-up li:first-child .fl {
    /*display: inline-block;
    width: 192px;
    height: 43px;
    color: white;
    font-size: 18px;
    margin: 0 auto;*/
    border-top: 0 solid black;
}

.x-one-left-up li .fl {
    display: inline-block;
    width: 192px;
    height: 43px;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    border-top: 1px solid #726557;
}

.x-one-left-mid {
    width: 100%;
    height: 49px;
}

.x-one-left-mid i {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -365px -166px;
    width: 11px;
    height: 11px;
    margin-right: 8px;
    margin-left: 18px;
    vertical-align: middle;
}

.x-one-left-mid h4 {
    display: inline-block;
    font-size: 20px;
    line-height: 49px;
    color: white;
}

.x-one-left-down {
    width: 100%;
    height: 246px;
}

.x-one-left-down img {
    display: block;
    width: 100%;
    height: 115px;
}

.x-one-left-down ul {
    width: 228px;
    height: 110px;
    padding: 10px 0;
    background: whitesmoke;
}

.x-one-left-down li {
    width: 191px;
    height: 26px;
}

.x-one-left-down li:hover a {
    color: red;
}

.x-one-left-down li a {
    display: block;
    line-height: 26px;
    height: 26px;
    padding-left: 8px;
    font-size: 15px;
}

/*第一块中间部分*/
.x-one-mid {
    float: left;
    width: 545px;
    height: 492px;
    margin-right: 20px;
    background: whitesmoke;
}

.x-one-mid-up {
    background: url("../images/tuijian_bg_6f35304.webp") no-repeat;
    width: 545px;
    height: 67px;
    position: relative;
}

.x-one-mid-up .zx {
    display: inline-block;
    width: 34px;
    height: 67px;
    line-height: 67px;
    font-size: 17px;
    padding: 0 25px;
}

.x-one-mid-up .zx:hover {
    display: inline-block;
    background: url("../images/tuijian_cur_40a7c37.webp") no-repeat;
    color: white;
}

.x-one-mid-up .jia1 {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -481px -563px;
    width: 24px;
    height: 25px;
    position: absolute;
    top: 17px;
    right: 36px;
}

.x-one-mid-mid {
    display: block;
    width: 491px;
    height: 104px;
    padding: 0 27px;
    background: url("../images/news1_bg_f9ffd8b.webp") no-repeat;
}

.x-one-mid-mid i {
    display: block;
    width: 491px;
    height: 48px;
    padding-top: 5px;
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.x-one-mid-mid span {
    width: 491px;
    height: 40px;
    font-size: 15px;
}

.x-one-mid-down {
    width: 491px;
    height: 252px;
    padding: 10px 27px;
    background: url("../images/beijing.webp") no-repeat;
    position: relative;
}

.x-one-mid-down img {
    position: absolute;
    top: 10px;
    left: 27px;
    z-index: 1;
    width: 55px;
    height: 42px;
}

.x-one-mid-down .wy {
    display: inline-block;
    width: 421px;
    height: 42px;
    background: whitesmoke;
    color: red;
    padding-left: 70px;
    font-size: 15px;
    line-height: 42px;
}

.x-one-mid-down .wy span {
    font-size: 18px;
    font-weight: 700;
}

.x-one-mid-down li {
    width: 100%;
    height: 30px;
    position: relative;
}

.x-one-mid-down li:hover a {
    color: red;
}

.x-one-mid-down li:hover a span {
    color: black;
}

.x-one-mid-down .news {
    display: inline-block;
    width: 393px;
    height: 30px;
    line-height: 30px;
    padding-right: 60px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-one-mid-down li span {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 61.7px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}

/*第一块右部分*/
.x-one-right {
    float: left;
    width: 383px;
    height: 492px;
    background: transparent;
}

.x-one-right-up {
    width: 321px;
    height: 208px;
    padding-left: 36px;
    padding-right: 26px;
    background: whitesmoke;
    margin-bottom: 42px;
}

.x-one-right-up h4 {
    display: block;
    width: 321px;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #e1e1e1;
}

.x-one-right-up .jie {
    display: block;
    width: 321px;
    height: 85px;
}

.x-one-right-up .jie i {
    display: block;
    width: 321px;
    height: 34px;
    color: red;
    line-height: 34px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-one-right-up .jie span {
    display: block;
    width: 321px;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
}

.x-one-right-up .gz {
    background: url("../images/sanjiao_45be033.png") no-repeat left;
    padding-left: 6px;
    width: auto;
    height: auto;
    font-size: 16px;
    color: #c93231;
    margin-right: 10px;
}

.x-one-right-up .gz:hover {
    text-decoration: underline
}

.x-one-right-down {
    width: 384px;
    height: 242px;
    background: whitesmoke;
}

.down-up {
    width: 400px;
    height: 148px;
    overflow: hidden;
}

.down-up .rl {
    float: left;
    display: inline-block;
    width: 128px;
    height: 73px;
    border-bottom: 1px solid whitesmoke;
    color: white;
    font-size: 16px;
    text-align: center;
    background: url("../images/entry_h_f98001b.webp") no-repeat;
    background-size: 128px 73px;
}

.down-up .rl i {
    display: block;
    background: url("../images/index_z_0812e8a.png") no-repeat -804px -332px;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    margin-top: 7px;
}

.down-up .kf {
    float: left;
    display: inline-block;
    width: 127px;
    height: 73px;
    border-left: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    color: black;
    font-size: 16px;
    text-align: center;
    background: url("../images/entry_bg_05_6008ae1.webp") no-repeat;
    background-size: 128px 73px;
}

.down-up .kf i {
    display: block;
    background: url("../images/index_z_0812e8a.png") no-repeat -752px -472px;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    margin-top: 7px;
}

.down-up .kf:hover {
    background: url("../images/entry_h_f98001b.webp") no-repeat;
    background-size: 128px 73px;
    color: white;
}

.down-up .kf:hover i {
    display: block;
    background: url("../images/index_z_0812e8a.png") no-repeat -804px -472px;
    width: 42px;
    height: 42px;
}

.down-up .kfgai {
    float: left;
    display: inline-block;
    width: 128px;
    height: 73px;
    border-bottom: 1px solid whitesmoke;
    color: black;
    font-size: 16px;
    text-align: center;
    background: url("../images/entry_bg_05_6008ae1.webp") no-repeat;
    background-size: 128px 73px;
}

.down-up .kfgai i {
    display: block;
    background: url("../images/index_z_0812e8a.png") no-repeat -752px -472px;
    width: 42px;
    height: 42px;
    margin: 0 auto;
    margin-top: 7px;
}

.down-up .kfgai:hover {
    background: url("../images/entry_h_f98001b.webp") no-repeat;
    background-size: 128px 73px;
    color: white;
}

.down-up .kfgai:hover i {
    display: block;
    background: url("../images/index_z_0812e8a.png") no-repeat -804px -472px;
    width: 42px;
    height: 42px;
}

.down-down {
    width: 384px;
    height: 74px;
    padding-top: 20px;
    position: relative;
}

.down-down p {
    display: block;
    width: 353px;
    height: 24px;
    padding-left: 30px;
    font-size: 16px;
    position: relative;
}

.down-down p i {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -854px -170px;
    vertical-align: middle;
    width: 4px;
    height: 4px;
}

.down-down .bw:hover {
    color: red;
}

.down-down .zuo {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -701px -649px;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.down-down .you {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -671px -649px;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/*第二块*/
.xtwo {
    width: 100%;
    height: 217px;
    background: #f8e9c8;
}

.x-two {
    width: 1200px;
    height: 137px;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
}

.x-two li:first-child {
    display: inline-block;
    background: url("../images/weihu-tit_905f3cb.webp");
    width: 230px;
    height: 137px;
}

.x-two li {
    float: left;
    display: inline-block;
    width: 242.5px;
    height: 137px;
    background: url("../images/weihu-bg_2143ddc.webp");
}

.x-two li i {
    display: block;
    width: 222.5px;
    height: 30px;
    margin-left: 20px;
    margin-top: 16px;
    color: red;
    font-size: 20px;
}

.x-two li span {
    display: block;
    width: 190px;
    height: 63px;
    margin-left: 20px;
    margin-top: 2px;
    font-size: 14px;
}

.x-two a:hover {
    color: red;
}

.xthree {
    width: 100%;
    height: 389px;
    background: #f8e9c8;
}

.xthree-all {
    width: 1200px;
    height: 349px;
    margin: 0 auto;
    overflow: hidden;
}

.xthree-left {
    float: left;
    width: 230px;
    height: 351px;
    margin-right: 20px;
}

.xthree-left h4 {
    width: 230px;
    height: 59px;
    font-size: 24px;
    line-height: 59px;
    position: relative;

}

.xthree-left h4 i {
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -365px -208px;
    width: 11px;
    height: 11px;
    margin-left: 18px;
    margin-right: 8px;
    vertical-align: middle;
}

.xthree-left h4 .jia2 {
    display: inline-block;
    background: url(../images/index_z_0812e8a.png) no-repeat -481px -563px;
    width: 24px;
    height: 25px;
    position: absolute;
    top: 18px;
    right: 0;
}

.xthree-left .chui {
    margin-top: 20px;
    display: block;
    width: 230px;
    height: 126px;
    overflow: hidden;
    position: relative;
}

.xthree-left .chui img {
    display: block;
    width: 230px;
    height: 126px;
    transition: all 1s ease;
}

.xthree-left .chui em {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: white;
    text-align: center;
    background: rgba(3, 3, 3, 0.5);
}

.xthree-left .chui:hover img {
    transform: scale(1.1);
}

.xthree-right {
    float: left;
    width: 950px;
    height: 351px;
}

.xthree-right-up {
    width: 914px;
    height: 59px;
    padding-left: 36px;
    background: #e5d9c0;
}

.xthree-right-up h4 {
    display: inline-block;
    font-size: 24px;
    height: 59px;
    line-height: 59px;
    font-weight: 400;
}

.xthree-right-up .niu {
    display: inline-block;
    background: url("../images/niutu.webp") no-repeat;
    width: 114px;
    height: 36px;
    margin-left: 400px;
    vertical-align: middle;
    margin-bottom: 11.5px;
}

.xthree-right-up .niu:hover {
    display: inline-block;
    background: url("../images/niutuhover.webp") no-repeat;
    width: 114px;
    height: 36px;
}

.xthree-right-up .dahua {
    display: inline-block;
    background: url("../images/dahua.webp") no-repeat;
    width: 114px;
    height: 36px;
    margin-left: 20px;
    vertical-align: middle;
    margin-bottom: 11.5px;
}

.xthree-right-up .dahua:hover {
    display: inline-block;
    background: url("../images/dahuahover.webp") no-repeat;
    width: 114px;
    height: 36px;
}

.xthree-right-up .duo {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 15px;
    margin-left: 55px;
}

.xthree-right-up .chuan {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 15px;
}

.xthree-right-down .wu {
    float: left;
    margin-top: 20px;
    margin-right: 25px;
    display: block;
    width: 170px;
    height: 126px;
    overflow: hidden;
    position: relative;
}

.xthree-right-down .wu img {
    display: block;
    width: 170px;
    height: 126px;
    transition: all 1s ease;
}

.xthree-right-down .wu em {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: white;
    text-align: center;
    background: rgba(3, 3, 3, 0.5);
}

.xthree-right-down .wu:hover img {
    transform: scale(1.1);
}

.xthree-right-down .wugai {
    float: left;
    margin-top: 20px;
    display: block;
    width: 170px;
    height: 126px;
    overflow: hidden;
    position: relative;
}

.xthree-right-down .wugai img {
    display: block;
    width: 170px;
    height: 126px;
    transition: all 1s ease;
}

.xthree-right-down .wugai em {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: white;
    text-align: center;
    background: rgba(3, 3, 3, 0.5);
}

.xthree-right-down .wugai:hover img {
    transform: scale(1.1);
}

/*wx*/

.boxTitlec {
    width: 1164px;
    height: 59px;
    padding-left: 36px;
    background: rgb(229, 217, 192);
    margin: 0 auto;
    line-height: 59px;

}

.boxTitlec .pic-nav {
    float: right;
    width: 252px;
    height: 59px;
    line-height: 59px;
    margin-right: 30px;

}

.boxTitlec .pic-nav a, .boxTitlec .pic-nav .pic1:after {
    float: right;
    display: inline-block;
    width: 114px;
    height: 36px;

    text-align: center;
    line-height: 36px;
    margin-left: 12px;
    margin-top: 12px;
    vertical-align: middle;
}

.boxTitlec .pic-nav .pic2 {
    background: url("../images/dhhl_4b8b55a.webp") no-repeat;
}

.boxTitlec .pic-nav .pic1 {
    background: url("../images/zrx_17ef947.webp") no-repeat;
}

.boxTitlec .pic-nav .pic2:hover {
    background: url("../images/dhhl_h_01528c2.webp") no-repeat;
}

.boxTitlec .pic-nav .pic1:hover {
    background: url("../images/zrx_h_a9ff171.webp") no-repeat;
}

.btnsc {
    float: right;
    width: 160px;
    height: 59px;
    line-height: 59px;
    font-size: 15px;

}

.boxTitlec h4 {
    font-size: 24px;
    font-weight: 400;
    float: left;
}

.btnsc a {
    font-size: 15px;
    color: #212121;
}

.sidepaperc {
    width: 1200px;
    height: 450px;
    margin: 0 auto;

}

.sidepaperc li {
    width: 280px;
    height: 430px;
    float: left;
    margin-top: 20px;
    margin-right: 26px;
    text-align: center;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}

.sidepaperc li a {
    width: 280px;
    height: 363px;
    display: block;
    overflow: hidden;
}

.sidepaperc li:last-child {
    margin-right: 0;

}

.sidepaperc img {
    width: 280px;
    height: 363px;
    transform: scale(1);
    transition: all 1s ease;
}

.sidepaperc li p {
    height: 67px;
    line-height: 67px;
    font-size: 16px;
}

.tongren-box .sidepaperc .big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/tongren_h_4398c2e.png") no-repeat;
    display: none;
}

.sidepaperc li a:hover .big {
    display: block;
}

.sidepaperc li a:hover img {
    transform: scale(1.2);
}

.part-conc {

    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.part-conc .col1 {
    width: 230px;
    height: 433px;
    background: rgb(248, 248, 248);
    font-size: 24px;
    float: left;
    margin-right: 40px;
}

.part-conc .col1 i {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: url("../images/index_z_0812e8a.png") no-repeat -365px -208px;
    margin-right: 8px;
    margin-left: 18px;
}

.part-conc .col1 h4 {
    display: block;
    height: 46px;
    width: 230px;
    line-height: 46px;
    font-weight: 400;
    padding-top: 13px;
}

.part-conc .col1 img.part-conc .col1 .product-box {
    display: block;
    width: 192px;
    height: 84px;
    margin: 0 auto;
}

.col1 .product-box {
    width: 192px;
    height: 84px;
    margin: 0 auto;
}

.part-conc .col1 .down {
    width: 132px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    text-align: center;
    color: #cc9900;
    display: block;
    margin: 0 auto;
    border: 1px solid #c90;
    margin-top: 20px;
}

.part-conc .col2, .part-conc .col3 {
    width: 473px;
    height: 431px;
    padding: 0 36px;
    float: left;
    margin-right: 40px;
    background: #ffffff;
}

.part-conc .col2 h4, .part-conc .col3 h4 {
    font-size: 24px;
    height: 70px;
    line-height: 70px;
    float: left;
    font-weight: 400;
}

.part-conc .newsc {
    float: right;
    width: 320px;
    height: 41px;
    line-height: 41px;
    border-bottom: 1px solid #c4c4c4;
    margin-top: 15px;
}

.part-conc .newsc a {
    display: inline-block;
    width: 68px;
    color: black;
    font-size: 17px;
    margin-right: 12px;
    line-height: 39px;
    height: 39px;

}

.part-conc .newsc a:last-child {
    margin-right: 0;
}

.part-conc .newsc a:hover {
    color: #c41e20;
    border-bottom: 3px solid #c41e20;
}

.part-conc .slidec {
    width: 473px;
    height: 301px;
}

.part-conc .slidec .img-txt img {
    width: 146px;
    height: 84px;
    display: block;
    float: left;
    margin-right: 12px;
}

.part-conc .slidec .new-topc {
    height: 120px;
    border-bottom: dotted 1px #c4c4c4;
    margin-bottom: 20px;
}

.col2 .slidec p {
    color: #c93231;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    width: 315px;
    height: 34px;

}

.col2 .slidec span {
    font-size: 15px;
    color: #403f3f;
    height: 40px;
    line-height: 20px;

}

.slidec li {

    font-size: 15px;
}

.slidec li a {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    color: rgb(64, 63, 63);
    padding-right: 20px;
}

.slidec li .time, .slidecRight li .time {
    float: right;
    line-height: 30px;
    height: 30px;
    color: #868686;;
}

.slidec li:hover a {
    color: #c93231;
}

.part-conc .col3 {
    width: 279px;
    height: 431px;
    padding-left: 36px;
    padding-right: 26px;
    margin-right: 0;
}

.part-conc .col3 h4 {
    display: block;
    width: 80%%;
    float: left;
}

.part-conc .col3 .more {
    background: url("../images/index_z_0812e8a.png") no-repeat -481px -563px;
    width: 24px;
    height: 25px;
    display: inline-block;
    float: right;
    margin-top: 23px;
}

.slidecRight .new-topcRight {
    width: 280px;
    height: 82px;
    border-bottom: dotted 1px #c4c4c4;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.slidecRight .img-txt p {
    color: #c93231;
    font-size: 18px;

    margin-bottom: 10px;
}

.slidecRight .img-txt p:hover {
    text-decoration: underline;
}

.slidecRight .img-txt span {

    font-size: 15px;
    color: rgb(64, 63, 63);
    height: 22px;
    line-height: 22px;
}

.slidecRight .img-txt span:hover {
    color: #c93231;
}

.slidecRight li {
    margin-top: 8px;
}

.slidecRight li a {
    display: inline-block;
    width: 225px;
    color: #403f3f;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    line-height: 22px;
}

.slidecRight li a:hover {
    color: #c93231;
}

.slidecRight li .time {
    height: 22px;
    line-height: 22px;
    float: right;
    font-size: 15px;
}

.character-box {
    margin-top: 20px;
    width: 100%;
    height: 76px;
    padding: 30px 0;
    background: rgb(247, 247, 247);
    border-top: solid 5px #fff;
    border-bottom: solid 5px #fff;
}

.character-box .charbotc {
    width: 1250px;
    height: 76px;
    margin: 0 auto;
}

.character-item {
    background: url("../images/index_z_0812e8a.png") no-repeat;
    float: left;
    margin: 0 18px;
    display: block;
}

.characteristic-01 {

    width: 217px;
    height: 75px;
    background-position: -627px -170px;

}

.characteristic-01:hover {
    background-position: -254px -514px;
}

.characteristic-02 {

    width: 293px;
    height: 75px;
    background-position: -303px -600px;
}

.characteristic-02:hover {
    background-position: 0 -600px;
}

.characteristic-03 {

    width: 236px;
    height: 75px;
    background-position: -627px -85px;
}

.characteristic-03:hover {
    background-position: -627px 0;
}

.character-box i {
    display: inline-block;
    height: 70px;
    width: 1px;
    background: #e5e5e5;

    float: left;

}

.characteristic-04 {

    width: 244px;
    height: 76px;
    background-position: 0 -514px;
}

.characteristic-04:hover {
    background-position: -240px -408px;
}

.characteristic-05 {
    margin-top: 17px;
    width: 39px;
    height: 39px;
    background-position: -481px -514px;
}

.characteristic-05:hover {
    background-position: -655px -600px;
}

.footer .share-box {
    width: 459px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 100px;
    color: #333;
}

.footer .share-box li {
    float: left;
    width: 67px;
    height: 30px;
    line-height: 30px;

}

.footer .share-box .curr {
    width: 95px;
}

.footer .share-box li a {
    color: #333;
    font-size: 14px;
}

.footer .share-box li a:hover {
    color: #a70d01;

}

.NIE-copyRight a {
    color: #d8191e;
}

.nie-copyright-new-inner {
    width: 840px;
    text-align: left;
    margin: 0 auto;
    padding: 15px 0 10px;
    font-size: 12px;
    line-height: 20px;
}

.nie-copyright-new-inner .nie-cn-logo {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    min-width: 300px
}

.nie-copyright-new-inner .nie-cn-logo a {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}

.nie-copyright-new-inner .nie-cn-logo a.a0 img {
    padding-right: 0
}

.nie-copyright-new-inner .nie-cn-logo img {
    padding-right: 15px;
    padding-top: 5px;
    border: 0;
    vertical-align: middle;
}

.nie-copyright-new-inner .nie-cn-nav {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}

.nie-copyright-new-inner .nie-cn-nav i {
    font-style: normal
}

.nie-copyright-new-inner .nie-cn-nav i.nie-cn-nav-i2 {
    height: 28px;
    line-height: 28px;
    text-align: left;
}

.nie-copyright-new-inner .nie-cn-nav a {
    text-decoration: none
}

.nie-copyright-new-inner .nie-cn-nav a:hover {
    text-decoration: underline
}

.nie-copyright-new-inner .nie-cn-nav .nie-cn-reportcenter {
    padding-left: 18px;
    font-style: normal;
}

.nie-copyright-new-inner .nie-cn-nav a.nie-cn-guardianship {
    display: inline-block;
    color: #fff;
    background-color: #610000;
    position: absolute;
    z-index: 2;
    right: 0;
    height: 26px;
    line-height: 26px;
    padding: 0 3px;
    top: 21px
}

#NIE-copyRight a.nie-cn-guardianship {
    color: #fff;
}

.nie-copyright-new-inner .nie-cn-part2 {
    padding-top: 10px;
    line-height: 24px
}

.nie-copyright-new-inner .nie-cn-part2 a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top
}

.nie-copyright-new-inner .nie-cn-part2 a:hover {
    text-decoration: underline
}

.nie-copyright-new-inner .nie-cn-part2 span {
    display: inline-block;
    vertical-align: top;
}

.nie-cn-part2 a img {
    vertical-align: top
}

/*百叶窗*/
#wap {
    width: 1300px;
    height: 360px;
    border: 2px solid #ddd;
    margin: 30px auto;
    overflow: hidden;
}

#wap ul {
    width: 1300px;
    height: 360px;
    border: 2px solid #ddd;
}

#wap ul li {
    width: 125px;
    height: 360px;
    border: 1px solid #000;
    list-style: none;
    float: left;
    box-shadow: -4px 0 30px #000;
    transition: all 1S;
    position: relative;
}

#wap ul li p {
    width: 296px;
    height: 350px;
    background: rgba(236, 235, 224, 0.3);
    line-height: 360px;
    text-align: left;
    font-weight: 600;
    overflow: hidden;
    transition: all 1S;
    position: absolute;
    color: black;
    text-indent: 4em;
}

#wap ul li p.top {
    top: 0;
    left: 125px;
    font-size: 28px
}

#wap ul li p.top1 {
    top: 40px;
    left: 125px;
}

#wap ul li p.top2 {
    top: 80px;
    left: 125px;
}

#wap ul li p.top3 {
    top: 120px;
    left: 125px;
}

#wap ul li p.top4 {
    top: 160px;
    left: 125px;
}

#wap ul li p.top5 {
    top: 200px;
    left: 125px;
}

#wap ul li p.top6 {
    top: 240px;
    left: 125px;
}

#wap ul li p.top7 {
    top: 280px;
    left: 125px;
}

#wap ul li p.top8 {
    top: 320px;
    left: 125px;
}

/*#wap ul li p.bottom{bottom:0;left:125px;}*/
#wap ul:hover li {
    width: 40px;
}

#wap ul:hover li p {
    width: 40px;
}

#wap ul li:hover {
    width: 980px;
}

#wap ul li:hover p {
    width: 980px;
}

#wap ul li a:hover p {
    color: red;
}

#wap ul:hover li p {
    width: 40px;

    line-height: 30px;
    /*letter-spacing:5px;*/
    text-align: "center";
    margin: auto;
    transition: all 1S;
}

#wap ul li:hover p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    letter-spacing: 5px;
}

/*百叶窗*/